<template font="Calibri" FontSize="10" LineSpacing="3" MaxWidth="290" MarginTop="20">

	<data  FontStyle="Bold" FontSize="11" TextWrap ="True" Align="Center">
		CRUDSOFT TECHNOLOGIES
	</data>
	<data TextWrap ="True" Align="Center">
		sales@crudsofttechnologies.com
	</data>

	<data TextWrap ="True" Align="Center">
		Cigma BLD, Mburu Gichua Rd, 3rd Floor, Rom 3G
	</data>

	<data TextWrap ="True" Align="Center">
		+254705418696
	</data>

</template>
