<template FontSize="10">
	<data font="Calibri" FontStyle="Bold" FontSize="11" TextWrap ="True" Align="Center">
		CRUDSOFT TECHNOLOGIES
	</data>

	<grid columns="3" rows="3">
		<data font="Calibri" fontStyle="bold">
			Hello World
		</data>
		<line/>
		<data Text="Hi, I am John Doe"/>

		<data align="center" Text="Centered Text"/>

		<line/>
	</grid>
</template>
